<h3>Room Reservation: </h3>

<%= form_for @reservation, :html => {:class => "form-horizontal"} do |f| %>
  <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

   CheckIn Date: <%= f.date_select :checkin_at  %><br />
  

    Checkout Date: <%= f.date_select :checkout_at %><br />

    Category: <%= select_tag(:category, options_for_select(["Deluxe Rooms", "Luxury Rooms", " Luxury Suites", "Presidential Suites"]))%></br>

  <%= f.submit "Reserve Room", class: "btn btn-default btn-primary" %>
<%end%>